html, body{
  background: #353536;
  color: #FFFFFF;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container{
  width: auto;
  margin: 0px 20px;
  min-height: 60%;

}

mark{
  color: #353536;
  background-color: #FFFFFF;
  border-radius: 5px;
}

a, a:hover, a:focus, a:active{
  color: #FFFFFF;
}

/* home section */

.nav .navbar li a{
  color: #d9d9d9;
}

.nav .navbar li a:focus{
  color: #d9d9d9;
  background-color: transparent;
  /*border: 1px solid white;*/
}

.nav .navbar li a:active, .nav .navbar li a:hover{
  color: #FFFFFF;
  background-color: transparent;
}

.line-separator{
  height:1px;
  background:#353536;
  border-bottom:1px solid #FFFFFF;
  width: 40%;
  margin: auto;
}

.navbar{
  padding: 20px 25px 0px 20px;
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
}

.navbar-header{
  text-align: center;
  vertical-align: middle;
}

.navbar-brand{
  font-size: 50px;
  font-weight: 200;
}

.navbar-nav li{
  display: inline-block;
}

.navbar-inverse .navbar-brand{
  color: #FFFFFF;
}

.nav-item a:hover{
  color: #d9d9d9;
  background-color: red;
}

.nav-item a:focus{
  color: #d9d9d9;
  background-color: #353536;
}

/* description section */

.title{
  padding-top: 15%;
  padding-bottom: 15%;
  min-height:100%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-duration: 3s;
}

.title p{
  font-size: 30px;
  font-weight: lighter;
  margin: 20px 20px 15px 20px;
}

.social-icon{
  margin-top: 20px;
}

.social-icon ul li{
  padding: 0px 10px;
}

.social-icon ul li a i{
  font-size: 30px;
}

/* portfolio section */

#portfolio{
  font-weight: lighter;
  height: 120%;
  display: none;
}

#portfolio h1{
  font-weight: lighter;
}

.portfolio-title{
  padding: 5% 10% 5% 10%
}

/* responsive section */

@media only screen and (min-width:320px) and (max-width:568px) and (orientation: portrait){
  .container{
    min-height: 90%;
  }
  .title{
    width: 80%;
    padding-top: 30%;
  }
  .title p{
    font-size: 20px;
  }
}

@media only screen and (min-width:320px) and (max-width:568px) and (orientation: landscape){
  body{
    padding: 0;
  }
  .navbar{
    margin-bottom: 0px;
  }
  .container{
    min-height: 90%;
  }
  .navbar-brand{
    font-size: 30px;
    font-weight: 200;
  }
  .title{
    width: 80%;
    padding-top:0;
  }

  .title p{
    font-size: 20px;
  }
}

.social-icon i{
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.social-icon i:hover{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media only screen and (min-width:375px) and (max-width:760px) and (orientation: portrait){
  .container{
    min-height: 90%;
  }
  .title{
    width: 80%;
    padding-top: 25%;
  }

  .title p{
    font-size: 30px;
  }
}

@media only screen and (min-width:375px) and (max-width:760px) and (orientation: landscape){
  .container{
    min-height: 90%;
  }
  .title{
    width: 80%;
    padding-top: 10%;
  }

  .title p{
    font-size: 25px;
  }
}

@media only screen and (min-width:760px) and (max-width:1200px) and (orientation: portrait){
  .container{
    min-height: 90%;
  }
  .title{
    width: 80%;
    padding-top: 40%;
  }

  .title p{
    font-size: 30px;
  }
}

@media only screen and (min-width:760px) and (max-width:1200px) and (orientation: landscape){
  .container{
    min-height: 90%;
  }
  .title{
    width: 80%;
    padding-top: 25%;
  }

  .title p{
    font-size: 25px;
  }
}
