html, body{
  background: #e6e6e6;
  color: #5d5d5d;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.animated {
  animation-duration: 500ms;
}

#app{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 100%;
}

.container{
  width: auto;
  margin: 0px 20px;

}

#particles-js{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.animate-out{
  animation: out 300ms ease-in-out forwards;
}

@keyframes out {
  0% {opacity: 1}
  100% {opacity: 0}
}

.myDescription{
  z-index: 5;
}

mark{
  color: #e6e6e6;
  background-color: #5d5d5d;
  border-radius: 5px;
}

a, a:hover, a:focus, a:active{
  color: #5d5d5d;
}

/* home section */

.nav .navbar li a{
  color: #5d5d5d;
}

.nav .navbar li a:focus{
  color: #5d5d5d;
  background-color: transparent;
  /*border: 1px solid 5d5d5d;*/
}

.nav .navbar li a:active, .nav .navbar li a:hover{
  color: #5d5d5d;
  background-color: transparent;
}

.line-separator{
  height:1px;
  background:#e6e6e6;
  border-bottom:1px solid #5d5d5d;
  width: 40%;
  margin: auto;
}

.navbar{
  padding: 20px 25px 0px 20px;
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #5d5d5d;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5d5d5d;
}

.navbar-inverse .navbar-toggle{
  border-radius: 8px;
  border-color: #5d5d5d;
  border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:active, .navbar-inverse .navbar-toggle:focus{
  background-color: transparent;
}

.navbar-header{
  text-align: center;
  vertical-align: middle;
}

.navbar-brand{
  font-size: 50px;
  font-weight: 200;
}

.navbar-nav li{
  display: inline-block;
}

.navbar-inverse .navbar-brand{
  color: #5d5d5d;
}

.nav-item a:hover{
  color: #5d5d5d;
}

.nav-item a:focus{
  color: #5d5d5d;
  background-color: #e6e6e6;
}

.navbar-toggle .icon-bar{
  transition: all 0.2s;
}

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

/* description section */

#home{
  display: none;
}

#home.isActive{
  display: block;
}

.title{
  padding-top: 15%;
  padding-bottom: 15%;
  margin: auto;
}

.title p{
  font-size: 30px;
  font-weight: 200;
  margin: 20px 20px 15px 20px;
}

.social-icon{
  margin-top: 20px;
}

.social-icon ul li{
  padding: 0px 5px;
}

.social-icon ul li a i{
  font-size: 30px;
  min-width: 30px;
}

.social-icon .icon-name{
  margin: 5px 0 0 0 ;
  font-size: 10px;
  max-width: 30px;
  font-weight: normal;
  display: block;
  visibility: hidden;
}

.social-icon-item{
  vertical-align: top;
}

.social-icon-item:hover .icon-name{
  visibility: visible;
}

.social-icon i{
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.social-icon i:hover{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* portfolio section */

#portfolio{
  padding: 5% 5% 10% 5%;
  font-weight: lighter;
  top: 6vh;
  left: 0;
  display: none;
}

#portfolio.isActive{
  display: block;
}

#portfolio h1{
  font-weight: lighter;
}

#portfolio .form-control{
  margin-bottom: 15%;
  background-color: #e6e6e6;
  border-color: #9d9d9d;
  border-radius: 20px;
  height: 30px;
}

#portfolio .form-control:focus{
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(157,157,157,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(157,157,157,.6);
}

.inner-addon {
  position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 7px;
  pointer-events: none;
  right: 2px;
}

.portfolio-title{
  padding: 5% 10% 5% 10%
}

.portfolio-thumbnail{
  padding: 1% 3% 1% 3%;
  border-radius: 8px;
}

.portfolio-thumbnail p{
  font-weight: 200;
  font-size: 20px;
}

.portfolio-thumbnail-img{
  /*border: 1px solid yellow;*/
  border-radius: 8px;
  max-height: 90%;
  max-width: 100%;
  height: auto;
  width: 100%;
  display: block;
  -webkit-filter: saturate(0.2);
  filter: saturate(0.2);
  -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
}

.portfolio-thumbnail-img:hover{
  -webkit-filter: saturate(1);
  filter: saturate(1);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}

/* single project display */
.single-project-display{
  left: 0;
  right: 0;
  top: 10vh;
  display: none;
}

.single-project-display.isActive{
  display: block;
}



/* responsive section */

@media only screen and (min-width:320px) and (max-width:568px) and (orientation: portrait){

  .navbar{
    padding: 20px 15px 0px 15px
  }
  .navbar-brand{
    font-size: 30px;
    font-weight: 200;
  }

  #home{
    top: 12vh;
  }

  .title p{
    font-size: 20px;
  }
  .social-icon-item:hover .icon-name{
    display: none;
  }
  #portfolio{
    padding-top: 10%;
  }
  .portfolio-thumbnail-img{
    -webkit-filter: saturate(1);
    filter: saturate(1);
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
  }
}

@media only screen and (min-width:320px) and (max-width:568px) and (orientation: landscape){
  body{
    padding: 0;
  }
  .navbar{
    margin-bottom: 0px;
  }

  .navbar-brand{
    font-size: 30px;
    font-weight: 200;
  }

  #home{
    top: 5vh;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .title p{
    font-size: 20px;
  }
  .social-icon-item:hover .icon-name{
    display: none;
  }
  .portfolio-thumbnail-img{
    -webkit-filter: saturate(1);
    filter: saturate(1);
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
  }
}



@media only screen and (min-width:375px) and (max-width:760px) and (orientation: portrait){


  .title p{
    font-size: 30px;
  }
  #home{
    top: 10vh;
  }
  .social-icon-item:hover .icon-name{
    display: none;
  }
  #portfolio{
    padding-top: 10%;
  }
  .portfolio-thumbnail-img{
    -webkit-filter: saturate(1);
    filter: saturate(1);
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
  }
}

@media only screen and (min-width:375px) and (max-width:760px) and (orientation: landscape){


  .title p{
    font-size: 25px;
  }
  #home{
    top: 5vh;
  }

  .social-icon-item:hover .icon-name{
    display: none;
  }
  .portfolio-thumbnail-img{
    -webkit-filter: saturate(1);
    filter: saturate(1);
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
  }
}

@media only screen and (min-width:760px) and (max-width:1024px) and (orientation: portrait){



  .title p{
    font-size: 30px;
  }

  .social-icon .icon-name{
    display: block;
  }
  #home{
    top: 15vh;
  }
  #portfolio{
    padding-top: 10%;
  }
  .portfolio-thumbnail-img{
    -webkit-filter: saturate(1);
    filter: saturate(1);
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
  }
}

@media only screen and (min-width:760px) and (max-width:1024px) and (orientation: landscape){



  .title p{
    font-size: 25px;
  }
  #home{
    top: 5vh;
  }
  .social-icon .icon-name{
    display: block;
  }
  .portfolio-thumbnail-img{
    -webkit-filter: saturate(1);
    filter: saturate(1);
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
  }

}
